.App{
    width: 400px;
    height: 500px;
}
.homePage,.createNote{
    padding: 10px;
}

.actionBar{
    margin-bottom: 10px;
}

.list-group-item{
    padding: 3px;
}

.btnCreateNote{
    margin-bottom: 10px;
}

.noteForm .inputForm{
    border: 1px dotted;
}

.noteForm .txtNoteBody{
    font-family: 'Lucida Console';
    font-size: 13px;
}